---
---
$baseurl: "{{ site.baseurl }}";

@import "{{ site.theme }}";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: #222; //!important;
    background-image: url('#{$baseurl}/assets/bg.jpg');
}

header {
	//background: #222;
}



p, h1, li, span, footer {
	color: #bbb;
}

a {
    color: #FF9F15;
}

nav {
	color: #fff;
    box-shadow: rgba(17, 17, 17, 1) 0 0.1em 0.75em;
	border-bottom: 3px solid #FF9F15;
	height: 50px;
}

header h1 {
    padding-top: 20px;    
}

header h1 a {
    background-image: url('#{$baseurl}/assets/Wiki.png');
    background-position: 50% 35%;
    margin-left: 165px;
    height: 40px;
    width: 210px;
    margin-top: 0px;
    margin-bottom: 20px;
        display: block;
}

main.container-lg {
	max-width: 990px;
    border: 1px solid #c23f15;
    border-radius: 8px;
}

section {
	background: #222;
	padding-bottom: 40px;
	border: 1px solid #7e7a74;
}

section p {
	padding-left: 16px;
	padding-right: 16px;
}


section img {
	max-height: 300px;
}
pre code {
	tab-size: 4;	
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3{
	padding-left: 16px;
	padding-right: 16px;
}

.markdown-body h1{
    box-shadow: rgba(17, 17, 17, 1) 0 0.1em 0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.markdown-body h2 {
    color: #96c410!important;
}
.markdown-body h3 {
    color: #c23f15!important;
}

.markdown-body img {
	max-width: 920px;
}

.highlighter-rouge {
	margin-left: 16px;
	margin-right: 16px;/*
    background-color: black;
    padding: 5px;*/
}

footer {
	padding: 16px;
	font-size: 12px
}
/*
}*/
